# This service fixes the wifi icon problem after suspend in Ubuntu 16.04
# /etc/systemd/system/wifi-resume.service
# sudo systemctl enable wifi-resume.service
# sudo systemctl restart wifi-resume.service
[Unit]
Description=Restart networkmanager at resume
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart network-manager.service

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
